---
import Layout from '@layouts/Layout.astro';
import { SOCIAL_MEDIA, NAV_LINKS, DEFAULT_TITLE } from '../const';
import HeroSection from '@components/Sections/HeroSection.astro';
import AboutSection from '@components/Sections/AboutSection.astro';
import BioSection from '@components/Sections/BioSection.astro';
import ContactSection from '@components/Sections/ContactSection.astro';
import PartnersSection from '@components/Sections/PartnersSection.astro';
import PortfolioSection from '@components/Sections/PortfolioSection.astro';
import ReviewsSection from '@components/Sections/ReviewsSection.astro';
import PompierRampe from '@components/Animations/PompierRampe.astro';


// Déclaration des constantes pour la page
const pageTitle = "Pinpon Création - WEB DESIGN NANTES";
const pageDescription = "Web designer à Nantes, je crée des sites web sur-mesure et performants. Mon approche allie créativité et rigueur pour des résultats optimaux. Contactez-moi pour donner vie à votre projet digital.";
const pageKeywords = "webdesign, design, logos, chartes graphique, développement web, sites web, création de site, agence web, freelance web designer, Nantes, digital, responsive design, UX/UI design, optimisation SEO, performance web";
const pageOgImage = "./images/og-home.jpg";
const pageLang = "fr";
const pageRobots = "noindex, nofollow";
---

<Layout 
  title={pageTitle} 
  description={pageDescription} 
  keywords={pageKeywords} 
  ogImage={pageOgImage}
  lang={pageLang}
  robots={pageRobots}
>

<main>
  <HeroSection />
  <BioSection />
  <AboutSection />
  <PortfolioSection />
  <PartnersSection />
  <ReviewsSection />
  <ContactSection />
  <PompierRampe />
</main>  

</Layout>